@model tema2.Models.Bere

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Bere</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nume)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nume)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataFabricatie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataFabricatie)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProcentAlcool)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProcentAlcool)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pret)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pret)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
